
.DS_Store
website/good_ideas_that_had_to_be_archieved/how_to_run_website.txt
website/good_ideas_that_had_to_be_archieved/load_navigation.js
website/good_ideas_that_had_to_be_archieved/navigation.html
website/sleep_poster copy.jpg
weekly progress/.DS_Store
weekly progress/week_3/paper_11381561.txt
weekly progress/week_4/unfamiliar_envs.xml
weekly progress/week_3/paper_11381561.txt
weekly progress/.DS_Store
xml_papers/11381561.xml
xml_papers/11467048.xml
xml_papers/11467055.xml
xml_papers/11467059.xml
xml_papers/11467060.xml
xml_papers/11494376.xml
xml_papers/11494377.xml
xml_papers/11494382.xml
xml_papers/11502955.xml
xml_papers/11502956.xml
xml_papers/11502959.xml
